<p id="notice"><%= notice %></p>

<% @posts.each do |post| %>
  <% next if post.post_enabled == false && (not is_admin?) %>
  <h1><%= link_to post.title, post %></h1>
  <div>
  <% if is_admin? %>
    <% if post.post_enabled %><%= link_to 'disable', action: 'disable', id: post.id %><% end %>
    <% if not post.post_enabled %><%= link_to 'enable', action: 'enable', id: post.id %><% end %>
    <%= link_to 'Edit', edit_post_path(post) %>
    <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
  </div>
<% end %>

<br>
<% if is_admin? %>
  <%= link_to 'New Post', new_post_path %>
<% end %>
