<p id="notice"><%= notice %></p>

<h1>
  <%= @post.title %>
</h1>

<div>
  <%= @post.content %>
</div>

<div>
  <object width="600" height="480" type="application/x-shockwave-flash" data="<%= generate_direct_link @post.media.url %>"></object>
</div>

<div>
  <h2>评论留言:</h2>
<% comment = Comment.new %>
<%= form_for(comment) do |f| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :post_id, value: @post.id %>
    <%= f.text_area :content, style: "width:600px; height:100px;" %>
  </div>
  <div class="actions">
    <%= f.submit '发表评论' %>
  </div>
<% end %>
</div>

<div>
  <h2>同学们的评论:</h2>
  <table>
  </tbody>
  <% @post.comments.each do |comment| %>
    <tr>
    <td>
    <%= comment.user.ip %>
    在
    <%= comment.created_at.strftime('%Y-%m-%d %H:%M:%S').to_s %>
    说：
    </td>
    <td>
    <%= comment.content %>
    </td>
    <% if is_admin? %>
    <td>
        <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
    <% end %>
    </tr>
  <% end %>
  </tbody>
  </table>
</div>

<% if is_admin? %>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
<% end %>
