<!DOCTYPE html>
<html>
<head>
  <title>Classvote</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<center>
  <% if is_admin? %>
  <h1>管理员驾到!!</h1>
  <% end %>
  <h4><%= "第#{get_number_of_machine}号机器，欢迎你登录！  你的IP地址是：#{get_ip_of_machine}" %></h4>

<%= yield %>

</center>
</body>
</html>
